# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data (VERY IMPORTANT)
# =========================
data/
datasets/
*.csv
*.csv.gz
*.pcap
*.pcapng
*.gz
*.zip

# =========================
# Large files
# =========================
*.log
*.sqlite
*.db

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Docker
# =========================
esdata/
